<section id="projects" class="p-5 text-center bg-white">
  <div class="container">
    <h2 class="mb-4">My Projects</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow">
          <img src="images/project1.jpg" class="card-img-top" alt="Project 1" />
          <div class="card-body">
            <h5 class="card-title">Todos App</h5>
            <p class="card-text">Task manager built with HTML, CSS, JS.</p>
            <a href="http://todoappw.ccbp.tech" target="_blank" class="btn btn-outline-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow">
          <img src="images/project2.jpg" class="card-img-top" alt="Project 2" />
          <div class="card-body">
            <h5 class="card-title">Wikipedia Search</h5>
            <p class="card-text">Custom Wikipedia search using REST API.</p>
            <a href="http://wikipediaz.ccbp.tech" target="_blank" class="btn btn-outline-primary">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow">
          <img src="images/project3.jpg" class="card-img-top" alt="Project 3" />
          <div class="card-body">
            <h5 class="card-title">Food Munch</h5>
            <p class="card-text">Fully responsive food listing website.</p>
            <a href="http://foodmunchmm.ccbp.tech" target="_blank" class="btn btn-outline-primary">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
